.Rhistory
.RData
.Rproj.user
README-unnamed-chunk-10-1.png
README-unnamed-chunk-11-1.png
README-unnamed-chunk-12-1.png
README-unnamed-chunk-13-1.png
README-unnamed-chunk-3-1.png
README-unnamed-chunk-9-1.png
README.md
NAMESPACE
